
/*BEGIN of styling for Website name, navigation menu and link behavior*/
*{
font-family: 'Italiana', serif;
color: black;
max-width: 1024px;
min-width: auto;
}

.subTitle h4{
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  font-weight: bolder;
  max-width: 400px;
}

h1 {
position: relative;
font-family: 'Reenie Beanie', cursive;
font-size: 80px;
margin: 0 auto;
width: 450px;
left: 120px;
top:20px;
margin-bottom:20px;
}

.subTitle{
  position: absolute;
  height: 35px;
  left: 850px;
  top: 50px;
}

.socialMedia {
  width: 25px;
  height: 25px;
  position: relative;
  float: left;
}
header{
  width:100%;
}
nav{
  width: 100%;
}
#nav {
font-family: 'Italiana', serif;
position: relative;
display: inline;
text-align: center;
}
#nav li{
  display: inline;
  padding-left: 235px;
}

#nav li a {
  text-decoration: none;
  display: inline-block;
  padding: 50px 0 15px 0;
}

a:link {
  text-decoration: none;
  font-weight: bolder;
}

a:visited {
  text-decoration: none;
}

a:hover {
    color: blue;
    font-weight: bolder;
}

a:active {
  font-weight: bolder;
}
/*END of styling for website name, navigation menu and link behavior*/


/*BEGIN of styling for background image behavior*/
main{
  position: relative;
  left:17.5%;
  top: 25px;
}

#rig {
  position: absolute;
    width:900px;
    margin:0 auto; /*center aligned*/
    padding: 0px;
    font-size:0;
    list-style: none;
    background-color:#000;

}
#rig li {
    display: inline-block;
    display:inline;
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* The wrapper for each item */
.rig-cell {
    display:block;
    position: relative;
    overflow:hidden;
}

#rig li:hover .rig-img {
    display:inline-block;
    width: 150px;
    /*height: 150px;*/
    opacity: 1;
    filter: alpha(opacity=30);
    border:none;
    transform:scale(-1, 1);
    transition:all 1s;
}

.rig-img {
  width: 150px;
  height: 150px;
  opacity: 0.9;
  filter: alpha(opacity=30);
  transform:scale(0.7);
  transition:all 1.5s;
}
/*END of styling for background image behavior*/


/*BEGIN of styling for BEGIN button link*/
#background {
  width: 150px;
  height: 300px;
  display: inline;
}

div.transbox {
  z-index: 2;
  width: 500px;
  margin-top: 0px;
  margin-left: 175px;
  background-color: #ffffff;
}

#index {
  position: relative;
  width: 500px;
  display: inline-block;
}

footer {
clear: both;
height: 100px;
}


/*BEGIN of About Us styling page*/
#aboutus {
position: relative;
left: 25px;
top: 35px;
line-height: 35px;
}

#siamak img {
position: relative;
border-radius: 5px;
}

#siamak p {
position: absolute;
width: 700px;
margin: -360px 0px 100px 325px;
font-size: 12px;
}

#maria {
position: absolute;
}

#maria figcaption {
position: absolute;
left: 760px;
top: 290px;
width: 235px;
}

#maria img {
position: relative;
top: 20px;
left: 760px;
border-radius: 5px;
}

#maria p {
width: 700px;
margin: -180px 0px 100px 0px;
font-size: 12px;
}

#jeff {
  position: absolute;
}

#jeff figcaption {
position: absolute;;
left: 10px;
width: 235px;
}

#jeff img {
position: relative;
border-radius: 5px;
margin: 350px 0px 0px 0px;
}

#jeff p {
width: 700px;
float: right;
margin:-200px 0px 100px 300px;
font-size: 12px;
}

#annie {
position: absolute;
}

#annie figcaption {
position: absolute;
width: 235px;
left: 760px;
}

#annie img {
position: relative;
margin: 700px 0px 0px 760px;
border-radius: 5px;
}

#annie p {
width: 700px;
left: 825px;
margin-top: -200px;
margin-bottom: 100px;
font-size: 12px;
}

#imgSources {
position: relative;
margin: 1100px 0px 100px 5px;
font-size: 14px;
}

#sourcesList {
font-size: 14px;
}
