
/*BEGIN of styling for Website name, navigation menu and link behavior*/
*{
font-family: 'Italiana', serif;
color: black;
max-width: 1024px;
min-width: auto;
}

h4 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  font-weight: bolder;
  max-width: 400px;
}

h1 {
position: relative;
font-family: 'Reenie Beanie', cursive;
font-size: 80px;
margin: 0 auto;
width: 450px;
left: 120px;
top:20px;
margin-bottom:20px;
}

.subTitle{
  position: absolute;
  height: 35px;
  left: 850px;
  top: 50px;
}

#socialMedia {
  width: 25px;
  height: 25px;
  position: relative;
  float: left;
}
header{
  width:100%;
}
nav{
  width: 100%;
}
#nav {
position: relative;
display: inline;
text-align: center;
}
#nav li{
  display: inline;
  padding-left: 235px;
}

#nav li a {
  text-decoration: none;
  display: inline-block;
  padding: 50px 0 15px 0;
}


a:link {
  text-decoration: none;
  font-weight: bolder;
}

a:visited {
  text-decoration: none;
}

a:hover {
    color: blue;
    font-weight: bolder;
}

a:active {
  font-weight: bolder;
}
/*END of styling for website name, navigation menu and link behavior*/

/*Annie's changes start here. evening of 12/21:*/
/*BEGIN of styling for background image behavior*/

main{
  position: relative;
  left:17.5%;
  top: 25px;
}

#rig {
  position: absolute;
    width:900px;
    margin:0 auto; /*center aligned*/
    padding: 0px;
    font-size:0;
    list-style: none;
    background-color:#000;

}
#rig li {
    display: inline-block;
    display:inline;
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* The wrapper for each item */
.rig-cell {
    display:block;
    position: relative;
    overflow:hidden;
}

#rig li:hover .rig-img {
    display:inline-block;
    width: 150px;
    /*height: 150px;*/
    opacity: 1;
    filter: alpha(opacity=30);
    border:none;
    transform:scale(-1, 1);
    transition:all 1s;
}

.rig-img {
  width: 150px;
  height: 150px;
  opacity: 0.9;
  filter: alpha(opacity=30);
  transform:scale(0.7);
  transition:all 1.5s;
}
/*BEGIN of styling for background image behavior*/


/*BEGIN of styling for BEGIN button link*/
#background {
  width: 150px;
  height: 300px;
  display: inline;
}

div.transbox {
  z-index: 2;
  width: 500px;
  /*height: 50px;*/
  margin-top: 0px;
  margin-left: 175px;
  background-color: #ffffff;
}

#makeAccount {
  position: relative;
  width: 500px;
  display: inline-block;
  margin-left: 200px;
}

/*Annie's changes end here. evening of 12/21*/


footer {
clear: both;
height: 100px;
}


/*BEGIN of About Us styling page*/
#aboutus {
position: relative;
left: 25px;
top: 35px;
line-height: 35px;
}

#siamak img {
position: relative;
border-radius: 5px;
}

#siamak p {
position: absolute;
width: 600px;
left: 425px;
margin-top: -360px;
margin-bottom: 100px;
}

#maria {
position: absolute;
}
#maria figcaption {
position: absolute;
left: 974px;
width: 235px;
}
#maria img {
position: relative;
left: 974px;
border-radius: 5px;
}
#maria p {
position: relative;
width: 600px;
top: -250px;
left: 380px;
}
#jeff figcaption {
position: relative;
top:400px;

}
#jeff img {
position: relative;
border-radius: 5px;
top: 400px;
}
#jeff p {
position: relative;
width: 600px;
left: 310px;
top: 225px;
}

#annie {
position: absolute;
margin-top:250px;
left: 885px;
}
#annie img {
  border-radius: 5px;
}
