
* {
  font-family: 'Italiana', serif;
  color: black;
  max-width: 1120px;
/*min-width: 974px;*/
}

h4 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  font-weight: bolder;
  max-width: 400px;
}

h1 {
font-family: 'Reenie Beanie', cursive;
font-size: 80px;
}

.subTitle{
  float: right;
  postion: fixed;
margin: -100px 200px 0px 100px;
}

#socialMedia {
  width: 25px;
  height: 25px;
  position: relative;
  float:right;
}


ul {
display: inline-block;
text-align: center;
margin: 0 auto;
}

li{
position: relative;
display: inline-block;
padding: 20px 60px 20px 60px;
margin: 0 auto;
}


a:link {
  text-decoration: none;
  font-weight: bolder;
}

a:visited {
  text-decoration: none;
}

a:hover {
    color: blue;
    font-weight: bolder;
}

a:active {
  font-weight: bolder;
}
/*END of styling for website name, navigation menu and link behavior*/

.background-image{
  z-index: -999;
  position: absolute;
  top:270px;
  width:1024px;
  left: 127px;
}
#storyImage {
  width: 250px;
  height: 250px;
  padding-left: 325px;
  padding-top: 199px;
  display: block;
}

form{
  display: inline-block;
}
#changeImageButton{
  width: 75px;
  height: 30px;
  display: block;
  position: absolute;
  left: 415px;
  top: 710px;
}
/*title*/
input{
  position: absolute;
  width: 300px;
 top: 373px;
 left: 700px;
 opacity: .7;
 font-size: 20px;
 font-family: 'Indie Flower', cursive;
}
/*textbox*/
#textBox{
  position: absolute;
  width: 300px;
  height: 250px;
  top: 446px;
  left: 700px;
  opacity: .7;
  font-style: bold;
  font-size: 18px;
  ffont-family: 'Henny Penny', cursive;
}

#clearText {
  position: absolute;
  left: 820px;
  top: 710px;
  width: 75px;
  height: 30px;
}

#saveButton{
  position: absolute;
  top: 790px;
  left: 960px;
}
button:hover {
  background: #efd467;
}
